.Dictionary h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 3px;
}

.Dictionary section {
  background:radial-gradient(666px at 0.4% 48%, rgb(202, 204, 227) 0%, rgb(89, 89, 99) 97.5%);
  padding: 30px;
  border-radius: 17px;
  margin: 20px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.Dictionary input {
  width: 100%;
  border-radius: 7px;
  padding: 6px 10px;
  color: darkgrey;
  border: 5px solid #ddd;
}

.Dictionary .hint {
  font-size: 10px;
  margin-top: 5px;
  margin-left: 3px;
}
